{% extends 'base.html' %}
{% block content %}
<h1>Posts</h1><br><br>
{% if blogs|length == 0 %}
    <p>There's nothing here yet</p>
{% else %}
    {% for blog in blogs %}
        <div class = 'blogpost'>
            <article>
                <h2 class= 'title'><a href='/blog?q={{blog.id}}' >{{blog.title}}</a></h2><hr>
                <p class = 'blog'>{{blog.body}}</p><hr>
                <p class = 'signature'>Written by <a href='/blog?user={{blog.author.id}}'>{{blog.author.username}}</a></p>
            </article>
        </div>
    {% endfor %}
{% endif %}
<p>Tune in later for more!</p>
{% endblock %}